*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 15px;
    font-family: var(--text-font);
    background-color: var(--white-color);
}

h1, h2, h3 {
    padding: 0;
}
