.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    
    @include tablet {
        padding: 4rem 10.6rem 2rem 10.6rem;
    }

    &__logo {
        height: 1.6rem;
        z-index: 10;
        @include tablet {
            height: 2rem;
        }
    }

}

