doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="assets/images/ds-icon.ico" type="image/x-icon")
        link(rel="stylesheet", href="css/styles.css")
        title LOOPSTUDIOS
    body
        

        hero.hero
            header.header
                img(src="assets/images/logo.svg", alt="LOGO").header__logo
                nav.mainNav
                    ul.mainMenu#mainMenu

                        li.mainMenu__item: a(href="#").mainMenu__link About
                        li.mainMenu__item: a(href="#").mainMenu__link Careers
                        li.mainMenu__item: a(href="#").mainMenu__link Events
                        li.mainMenu__item: a(href="#").mainMenu__link Products
                        li.mainMenu__item: a(href="#").mainMenu__link Support

                .fas.fa-bars#menu-btn


            h1.hero__title Immersive experiences that deliver

        main.main

            section.about
                .about-img
                .about-info
                    h2.about-title The leader in interactive VR
                    p.about-text Founded in 2011, Loopstudios has been producing world-class virtual reality projects for some of the best companies around the globe. Our award-winning creations have transformed businesses through digital experiences that bind to their brand.


            section.creations
                h2.creations-title Our creations
                .creations-wrapper
                    .creations-gallery1
                        .creations-gallery1-img
                        p.creations-gallery1-text Deep earth

                    .creations-gallery2
                        .creations-gallery2-img
                        .creations-gallery2-text Night arcade

                    .creations-gallery3
                        .creations-gallery3-img
                        .creations-gallery3-text Soccer team VR

                    .creations-gallery4
                        .creations-gallery4-img
                        .creations-gallery4-text The grid

                    .creations-gallery5
                        .creations-gallery5-img
                        .creations-gallery5-text From up above VR

                    .creations-gallery6
                        .creations-gallery6-img
                        .creations-gallery6-text Pocket borealis

                    .creations-gallery7
                        .creations-gallery7-img
                        .creations-gallery7-text The curiosity

                    .creations-gallery8
                        .creations-gallery8-img
                        .creations-gallery8-text Make it fisheye


                a(href="#").creations-cta See all


        footer.footer
            img(src="assets/images/logo.svg", alt="LOGO").footer__logo

            ul.sitemap
                li.sitemap__item: a(href="#").sitemap__link About
                li.sitemap__item: a(href="#").sitemap__link Careers
                li.sitemap__item: a(href="#").sitemap__link Events
                li.sitemap__item: a(href="#").sitemap__link Products
                li.sitemap__item: a(href="#").sitemap__link Support

            small.copy
                .copy__socials
                    a(href="#").copy__social
                        img(src="assets/images/icon-facebook.svg", alt="")
                    a(href="#").copy__social
                        img(src="assets/images/icon-twitter.svg", alt="")
                    a(href="#").copy__social
                        img(src="assets/images/icon-pinterest.svg", alt="")
                    a(href="#").copy__social
                        img(src="assets/images/icon-instagram.svg", alt="")
                    
                .copy__info © 2021 
                    a(href="https://darwinsanchez9018.github.io/Frontend-Porfolio/" target="_blank").copy__link Darwin Sánchez. 
                    |All rights reserved.

                        
        script(src="js/scripts-dist.js")
        script(src="https://kit.fontawesome.com/a0ab449b77.js" crossorigin="anonymous")
