:root {
    // Colors
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    --gray-color: hsl(0, 0%, 55%);
    --dark-gray: hsl(0, 0%, 41%);

    // Fonts
    --text-font: 'Josefin Sans', sans-serif;
    --menu-font: 'Alata', sans-serif;
}